.darkMode {
  background-color: #36394a;
  color: white;
  box-shadow: 0.2em 0.2em 0.4em #252834, -0.2em -0.2em 0.4em #43475c;
  height: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lightMode {
  color: black;
  background-color: #e7e8ee;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
