.darkMode {
  /* background-color: #36394a; */
  background-color: #141f2a;
  color: white;
  /* box-shadow: 0.2em 0.2em 0.4em #252834, -0.2em -0.2em 0.4em #43475c; */
  height: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lightMode {
  color: black;
  background-color: white;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
